<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js"></script>
</head>
    <form class="formAuthor">
        <input type="text" class="inputForm" name='nameAuthor'>
        <button type="submit" class="btn">OK</button>
    </form>
    <script src="/javascripts/acp/acp.js"></script>
<body>
    
</body>
</html>